.input-group{
    position: relative;
}
.autoComplete{
    background-color: white;
    list-style-type: none;
    position: absolute;
    top: 37px;
    display: none;
    padding-left: 15px;
    width: 100%;
    border: 1px solid lightgray;
    width: 293px;
    z-index: 100;
}
.dropDownHidden{
    display: none;
}
.dropDownShow:hover{
    background-color: dodgerblue;
}