h3{
    display: none;
}
.avgGrade {
    background-color:gray;
    color:white;
    padding:10px;
    font-size: 75%;
    border-radius: 25%;


}
.form-control{
    width: 100%;
}
@media screen and (max-width: 667px) {
    h3{
        display: block;
    }
    h1{
        display: none;
    }
}